:root{
    --color-background: #161032;
    --color-background2:#4ECDC4;
    --color-ment: #F7FFF7;
    --color-darkmoon: #161032;
    --color-alt1: #FFE66D;
    --color-alt2: #F786AA;
    --color-alt3: #F5A962;
}

*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, p, body{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--color-background);
    color: var(--color-ment);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: var(--color-background2);
    color: var(--color-darkmoon);
    padding: 1px 40px;
    display: flex;
    justify-content: space-between;
    div, nav{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    #logo{
        width: 50px;
    }
}
#inicio-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    #parrafo-inicial{
        text-align: center;
    }
}

#tragos-main{
    display: flex;
    justify-content: center;
}
h2{
    color: var(--color-alt2);
    font-size: 2em;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--color-darkmoon);

}

.botones{
    border: 3px solid var(--color-alt2);
    border-radius: 10px;
    background-color: var(--color-ment);
    font-size: larger;
    margin: 10px auto 15px;
    text-align: center;
    width: 300px;
    padding: 15px 10px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid var(--color-alt2);
    overflow: hidden;
    .carta{
        color: var(--color-darkmoon);
        width: 325px;
        background-color: var(--color-background2);
        border-radius: 10px;
        overflow: hidden;
        border: 3px solid var(--color-alt2);
        margin: 20px;
        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
}