:root{
    --color-background: #161032;
    --color-background2:#4ECDC4;
    --color-font: #F7FFF7;
    --color-font2: #161032;
    --color-alt1: #FFE66D;
    --color-alt2: #F786AA;
    --color-alt3: #F5A962;
}
*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3, p, body{
    margin: 0;
}

body{
    background-color: var(--color-background);
    color: var(--color-font);
}
header{
    background-color: var(--color-background2);
    color: var(--color-font2);
}